.main-container{
  display: flex;
}
.sub-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}






@media screen and(max-width: 1100px){
  .sub-container{
    grid-template-columns: repeat(2, 1fr);
  }
}